body {
    background-size: cover;
}

@font-face {
    font-family: epicfont;
    src: url(/font.otf);
  }

* {
    text-align: center;
    font-family: epicfont;
}

h1 {
    font-size: xx-large;
    background-color: white;
    padding: 7px;
}

.button {
    display: inline-block;
    padding: 10px;
    border-radius: 12px;
    background-color: white;
    color: black;
    font-size: x-large;
    cursor: url(/brutusface.cur), auto;	
}

.button:hover {
    opacity: 0.7;
}